############################################
# Compiled class files
############################################
*.class

############################################
# Logs
############################################
*.log
logs/
*.out

############################################
# Build folders
############################################
target/
build/
out/
bin/

############################################
# Gradle
############################################
.gradle/
!gradle/wrapper/gradle-wrapper.jar
gradle-app.setting
!gradle/wrapper/gradle-wrapper.properties

############################################
# Maven
############################################
.mvn/wrapper/maven-wrapper.jar

############################################
# Dependency directories
############################################
node_modules/

############################################
# Environment files
############################################
.env
.env.*
*.local

############################################
# IDEs
############################################

# IntelliJ
.idea/
*.iml

# VS Code
.vscode/

# Eclipse
.project
.classpath
.settings/


############################################
# Docker
############################################
docker-data/
*.tar

############################################
# Spring Boot
############################################
*.pid
*.seed
*.pid.lock

############################################
# Kafka / Redis temp
############################################
kafka-logs/
redis-data/

############################################
# Test coverage
############################################
coverage/
*.exec

############################################
# Misc
############################################
*.swp
*.swo